# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependency directories
/node_modules

# Build output
/dist
/build

# Mac and Windows system files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Temporary files created by this application
/tmp

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE-specific configuration
.vscode/
.idea/

# Test coverage
/coverage
